name: Android CI

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Make gradlew executable
      run: chmod +x InternAssessmentApp/gradlew
      
    - name: Build Debug APK
      run: ./gradlew assembleDebug --stacktrace
      working-directory: ./InternAssessmentApp
      
    - name: Upload APK to Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: samsung-assessment-app
        path: InternAssessmentApp/app/build/outputs/apk/debug/samsung-Assessment-debug.apk
    
    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: InternAssessmentApp/app/build/outputs/apk/debug/samsung-Assessment-debug.apk
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}